*{ 
    padding: 0px;
    margin: 0px;

}

nav{
    position: sticky;
}
nav a {
    text-decoration: none;
    color: rgb(10, 10, 10); 
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
nav ul{
    background-color: rgba(red, green, blue, alpha);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    align-items: center;
    height: 10vh;
}
.title{
    font-size: 2rem;
    font-weight: 600;
}
nav ul li{
    padding: 0.25rem 0.5rem
    
}
nav a {
    text-decoration: none;
}

nav ul div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   align-items: center;
   font-size: 1.2rem;
   font-weight: 600;
}

.logo{
    height: 2.5rem;
    width: 2.5rem;
}


.main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fHdlYXRoZXJ8ZW58MHx8fHwxNjg5NTY1NzA3&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
}
.box1 {
   
    height: 100%;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
}

#weather-results {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#weather-results h2 {
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 0.5rem;
    font-weight: 900;
}

#weather-results p {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #000000;
    font-weight: 900;
}

#weather-results p:first-child {
    font-weight: bold;
}

.weather-icon {
    width: 80px;
    height: 80px;
    margin: 10px auto;
}



.box2 {
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    border-radius: 1rem;


}

.form-heading {
    background-color: aliceblue;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem; 
    text-align: center;
    border: 1.2px solid black;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 97%;
    width: 95%;
}
.form input{
    color: black;
    padding: 0.5rem 1.7rem;
    width: 90%;
    border-radius: 0.5rem;
    border: 1px solid blue;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: 600;
}

.input-fields{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.btn{
    background-color: rgb(242, 246, 247);
    padding: 0.25rem;
    height: 2.4rem;
    width: 5.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
    border: 1px solid black;
}

.btn:hover{
    background-color: rgb(14, 112, 60);
    color: white;
}



@media (max-width: 300px) {
    nav ul p {
        display: none; 
    }

    .logo {
        height: 1.5rem;
        width: 1.5rem;
    }

    nav ul div {
        font-size: 1rem; 
    }
}